<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="D:/TestNGTutorial1/src/test/java/Tasty">

        <classes>
            <class name="Tasty.AppiumTest">
                <methods>
                    <exclude name="mobileTest"></exclude>
                </methods>
            </class>
            <class name="Tasty.SeleniumTest"/>
        </classes>
    </test>
</suite>