<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="Academy.CustomListener"/>
    </listeners>
    <test name="HomePage">
        <classes>
            <class name="Academy.HomePage"/>
        </classes>
    </test>
    <test name="TitleValidate">
        <classes>
            <class name="Academy.ValidateTitle"/>
        </classes>
    </test>
</suite>